#notebook_index {
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
}

#notebook_index .index_filename {
    background-color: #eee;
    color: #777;
    border-bottom: 1px solid #ddd;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.5em;
}

#notebook_index .index_content {
    padding: 1em;
    margin: 0.1em;
}
